{% extends "base.html" %}
{% block content %}
<h1>Precios</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>PrecioID</th>
            <th>CanchaID</th>
            <th>Tipo de Precio</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for precio in precios %}
        <tr>
            <td>{{ precio.PrecioID }}</td>
            <td>{{ precio.CanchaID }}</td>
            <td>{{ precio.TipoPrecio }}</td>
            <td>{{ precio.Precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
